[MESSAGES CONTROL]
disable=
    import-error,
    attribute-defined-outside-init,
    too-many-instance-attributes,
    broad-exception-caught

[DESIGN]
max-args=8
max-locals=20
max-branches=20

[FORMAT]
max-line-length=100
