[MASTER]
load-plugins=pylint_homeassistant

disable=
    C0111,  # Missing docstring
    W0613,  # Unused argument
    W0612,  # Unused variable
    W0212,  # Protected access

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-public-methods,
    duplicate-code,
    broad-except,
    bare-except,
    abstract-method,

[FORMAT]
max-line-length=88

[TYPECHECK]
generated-members=asyncio.*, voluptuous.*