post_vehicle_status:
  target:
    device:
      integration: diveracontrol
  fields:
    vehicle_id:
      required: true
      example: 123456
    status:
      required: false
      example: 123456
    status_id:
      required: false
      example: 67890
    status_note:
      required: false
      example: "Stärke 1/8"
    lat:
      required: false
      example: 51.2584996
    lng:
      required: false
      example: 7.2309561


post_alarm:
  target:
    device:
      integration: diveracontrol
  fields:
    title:
      required: true
      example: FEU
    notification_type:
      required: true
      example: 2
    foreign_id:
      required: false
      example: 2025-123
    priority:
      required: false
      example: false
    text:
      required: false
      example: '"Auslösung BMA, bestätigte Rauchentwicklung. Weitere alarmierte Einheiten: Musterdorf, Beispielstadt"'
    address:
      required: false
      example: '"Hauptstraße 247, 12345 Musterstadt, Deutschland"'
    lat:
      required: false
      example: 51.2584996
    lng:
      required: false
      example: 7.2309561
    scene_object:
      required: false
      example: "Hinterhof, 2ter Aufgang"
    caller:
      required: false
      example: "Max Mustermann, 01234 567890"
    patient:
      required: false
      example: "Erika Mustermann, 45 Jahre, bekannte Allergie gegen Penicillin"
    units:
      required: false
      example: "Musterdorf, Beispielstadt"
    remarks:
      required: false
      example: "Zugang über Hinterhof, Schlüssel bei Nachbar Müller"
    response_time:
      required: false
      example: 3600
    send_push:
      required: false
      example: true
    send_sms:
      required: false
      example: false
    send_call:
      required: false
      example: false
    send_mail:
      required: false
      example: false
    send_pager:
      required: false
      example: false
    closed:
      required: false
      example: false
    message_channel:
      required: false
      example: true
    notification_filter_access:
      required: false
      example: true
    group:
      required: false
      example: 1, 2, 3, 4
    user_cluster_relation:
      required: false
      example: 1, 2, 3, 4
    notification_filter_vehicle:
      required: false
      example: false
    vehicle:
      required: false
      example: 1, 2, 3, 4
    notification_filter_status:
      required: false
      example: false
    status:
      required: false
      example: 1, 2, 3, 4


put_alarm:
  target:
    device:
      integration: diveracontrol
  fields:
    alarm_id:
      required: true
      example: 54321
    title:
      required: true
      example: FEU G
    notification_type:
      required: true
      example: 2
    foreign_id:
      required: false
      example: 2025-123
    alarmcode_id:
      required: false
      example: 123456789
    priority:
      required: false
      example: false
    text:
      required: false
      example: 'Auslösung BMA, bestätigte Rauchentwicklung. Weitere alarmierte Einheiten: Musterdorf, Beispielstadt'
    address:
      required: false
      example: "Hauptstraße 247, 12345 Musterstadt, Deutschland"
    lat:
      required: false
      example: 51.2584996
    lng:
      required: false
      example: 7.2309561
    scene_object:
      required: false
      example: "PKW, rot, 4 Türen"
    caller:
      required: false
      example: "Max Mustermann"
    patient:
      required: false
      example: "Max Mustermann"
    report:
      required: false
      example: "2 Einsatztabschnitte gebildet, 3 C-Rohre im Einsatz"
    private_mode:
      required: false
      example: false
    send_push:
      required: false
      example: true
    send_sms:
      required: false
      example: false
    send_call:
      required: false
      example: false
    send_mail:
      required: false
      example: false
    send_pager:
      required: false
      example: false
    response_time:
      required: false
      example: 3600
    closed:
      required: false
      example: false
    message_channel:
      required: false
      example: true
    ts_publish:
      required: false
      example: 1717755979
    notification_filter_access:
      required: false
      example: true
    group:
      required: false
      example: 1, 2, 3, 4
    user_cluster_relation:
      required: false
      example: 1, 2, 3, 4
    notification_filter_vehicle:
      required: false
      example: false
    vehicle:
      required: false
      example: 1, 2, 3, 4
    notification_filter_status:
      required: false
      example: false
    status:
      required: false
      example: 1, 2, 3, 4


post_close_alarm:
  target:
    device:
      integration: diveracontrol
  fields:
    alarm_id:
      required: true
      example: 54321
    closed:
      required: true
      example: true
    report:
      required: false
      example: '2 Einsatztabschnitte gebildet, 3 C-Rohre im Einsatz'


post_message:
  target:
    device:
      integration: diveracontrol
  fields:
    message_channel_id:
      required: false
      example: 54321
    alarm_id:
      required: false
      example: 54321
    text:
      required: false
      example: 'Dies ist eine Testnachricht.'


post_using_vehicle_property:
  target:
    device:
      integration: diveracontrol
  fields:
    vehicle_id:
      required: true
      example: 123456
    properties:
      required: false
      example: |
        bat: 85.5
        zünd: 1
        funk: 1

post_using_vehicle_crew:
  target:
    device:
      integration: diveracontrol
  fields:
    vehicle_id:
      required: true
      example: 123456
    mode:
      required: true
      example: add
    crew:
      required: false
      example: 123, 456, 789

post_news:
  target:
    device:
      integration: diveracontrol
  fields:
    title:
      required: true
      example: Neue Dienstanweisung
    notification_type:
      required: true
      example: 2
    text:
      required: false
      example: Rückwärtsfahren nur mit Einweiser
    address:
      required: false
      example: Raum 1.23
    survey:
      required: false
      example: True
    private_mode:
      required: false
      example: False
    send_push:
      required: false
      example: true
    send_sms:
      required: false
      example: false
    send_call:
      required: false
      example: false
    send_mail:
      required: false
      example: false
    send_pager:
      required: false
      example: false
    archive:
      required: false
      example: True
    ts_archive:
      required: false
      example: 4902061253
    group:
      required: false
      example: [ 1, 2, 3, 4 ]
    user_cluster_relation:
      required: false
      example: [ 1, 2, 3, 4 ]
    NewsSurvey_title:
      required: false
      example: Mit wie vielen Personen nehmt ihr am Sommerfest teil?
    NewsSurvey_show_result_count:
      required: false
      example: 2
    NewsSurvey_show_result_names:
      required: false
      example: 2
    NewsSurvey_multiple_answers:
      required: false
      example: True
    NewsSurvey_custom_answers:
      required: false
      example: True
    NewsSurvey_response_until:
      required: false
      example: True
    NewsSurvey_ts_response:
      required: false
      example: 4902061253
    NewsSurvey_answers:
      required: false
      example: Trupp,Staffel,Gruppe,Zug
    NewsSurvey_sorting:
      required: false
      example: Zug,Gruppe,Staffel,Trupp
